/*------------------------------------------------------------------
[Master Stylesheet]

Project:          Template
Version:          1.1
Created by:       Faizur Rehman
Inspired:         https://blog.codeminer42.com/how-to-organize-your-styles-with-itcss-3787cbc6dcbf/ 
ITCSS Auther:     Harry Roberts.
-------------------------------------------------------------------*/

// Settings
@import "scss/00-settings/settings.global.scss";
@import "node_modules/bootstrap/scss/bootstrap";

// Tools
@import "scss/01-tools/tools.mixins";

// Generic
@import "scss/02-generic/generic.reset";

// Elements
@import "scss/03-elements/elements.heading";

// Objects
@import "scss/04-objects/objects.overlays";

// Components
@import "scss/05-components/components.header";

// Utilities
@import "scss/06-utilities/utilities.clearfix";

// layouts
@import "scss/07-layouts/layout.homepage";