{% extends "../layouts/default.twig" %}
{% set page_title = 'Index' %}
{% block content %}
<p>main</p>
{% endblock %}

<!-- footer scripts -->
<!-- {% block included_content %}
<script src="js/homepage.min.js"></script>
{% endblock %} -->