{% extends "../layouts/default.twig" %}
{% block content %}

<!-- Demo Content -->
<main>
  <div class="welcome">
    <img src="https://avatars2.githubusercontent.com/u/6688472?s=460&u=6e40d7d4e12b1f4fe0cfbeba15165867b61bea45&v=4" alt="">
    <h1>Hello, Welcome to <br>Faizur Gulp Starter</h1>
    <p>By <a href="https://www.instagram.com/fazurrehman/">Faizur Rehman</a></p>
  </div>
</main>
{% endblock %}

<!-- scripts -->
{% block included_content %}
<script src="js/index.min.js"></script>
{% endblock %}