<!doctype html>
<html lang="eng">

<head>
  {% include "../components/head.twig" %}
</head>

<body>
  {% include "../components/header.twig" %}
  <main>
    <!-- MAIN -->
    {% block content %}
    {% endblock %}
  </main>
  <!-- Footer -->
  {% include "../components/footer.twig" %}
  <!-- {{ block('included_content') }} -->
</body>

</html>