<header class="container">
  <div class="brand">
    <img class="logo" src="https://faizur.com/assets/logo.svg" alt="" onclick="javascript:location.href='http://faizur.com/'">
    <label>Starter</label>
  </div>
  <div class="actions">
    <a href="https://github.com/fazurrehman/faizur-gulp-starter">
      Github
    </a>
  </div>
</header>